@media only screen and (min-width: 300px) {
  .SignInView {
    padding: 0 1rem 1rem 1rem;
  }
  .form_group {
    margin-bottom: 1.5rem;
  }
  .signin_options {
    display: flex;
    gap: 1rem;
  }
  .reset_password_button {
    background: none !important;
    box-shadow: none !important;
    color: white !important;
    transition: background 0.1s ease-in !important;
  }
  .reset_password_button:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 600px) {
  .SignInView {
    width: 300px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) {
  .SignInView {
    width: 300px;
    margin-left: 300px;
  }
}
