@media only screen and (min-width: 300px) {
  .Announcement {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header > p:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }
  .header > p:nth-child(2) {
    font-size: 0.7rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}
