@media only screen and (min-width: 300px) {
  .Toast {
    position: absolute;
    left: 10vh;
    right: 10vh;
    bottom: 4vh;
    background: white;
    border-radius: 7px;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 900px) {
}
