@media only screen and (min-width: 900px) {
  .AdminAllAnnouncementsView {
  }
  .announcement_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
    overflow-y: auto;
  }
  .page_subtitle_text {
    margin-bottom: 0.5rem;
  }
}
