@media only screen and (min-width: 300px) {
  :root {
    --color-light-red: #ef5350;
    --color-light-green: #66bb6a;
    --color-light-yellow: #ffca28;

    --color-green: #4dac6d;
    --color-white: white;

    --color-standard-gray: #dadada;
    --color-dark-gray: #313131;
    --color-blue-gray: #85949f;

    --color-gray: #b6b6b6;
    --color-light-gray: #efefef;
    --color-navy-blue: #293241;
    --color-orange: #ee6c4d;
    --color-dark-red: #c34040;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: "Effra", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .app {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="password"],
  textarea,
  select {
    padding: 0.5rem;
    border-radius: 7px;
    outline: none;
    appearance: none;
    font-size: 1rem;
    box-shadow: 0 1px 5px 2px var(--color-standard-gray);
    border: white 3px solid;
    transition: border 0.1s ease-in;
    font-family: "Effra", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input[type="text"]:hover,
  input[type="date"]:hover,
  input[type="time"]:hover,
  input[type="password"]:hover,
  textarea:hover,
  select:hover {
    border: var(--color-orange) 3px solid;
  }
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: var(--color-orange) 3px solid;
  }
  select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
  }
  button,
  input[type="submit"] {
    background: var(--color-orange);
    border: none;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 7px;
    box-shadow: 0 1px 5px 2px var(--color-standard-gray);
    transition: background 0.1s ease-in !important;
    max-height: 2rem !important;
  }
  button:hover,
  input[type="submit"]:hover {
    background: var(--color-navy-blue);
  }
  label {
    font-size: 1.05rem;
    color: var(--color-dark-gray);
    margin-bottom: 0.3rem;
    font-weight: 700;
  }
  label > span {
    color: var(--color-gray);
  }

  .form_group {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
  }
  .page_title_text {
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-orange);
  }
  .page_layout {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
@media only screen and (min-width: 600px) {
  .page_layout {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: auto;
    min-height: 0;
    height: 100vh;
    max-height: 100vh;
  }
  .page_navigation {
    grid-column-start: 0;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}

@media only screen and (min-width: 800px) {
}
