.date {
  display: flex;
  flex-direction: column;
  border: 1px solid #ee6c4d;
  background-color: #293241;
  color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.day {
  font-size: 2rem;
  font-weight: bold;
}
.month {
  font-size: 1rem;
  font-weight: bold;
}
.year {
  font-size: 1rem;
}
