@media only screen and (min-width: 300px) {
  .StudentAllTicketsView {
    overflow-y: scroll;
  }
  .ultra_container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .ultra_container {
    padding: 1rem;
  }
  .StudentAllTicketsView {
    height: 90%;
  }
  .container {
    padding: 1rem;
  }
}
@media only screen and (min-width: 900px) {
  .container {
    display: flex;
  }
}
