@media only screen and (min-width: 900px) {
  .announcement_content {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .announcement_details {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-grow: 1;
  }
}
