@media only screen and (min-width: 300px) {

  .NavigationLink,
  .NormalLink {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-standard-gray);
  }

  .active {
    font-weight: 700;
  }
}

@media only screen and (min-width: 600px) {
}
