@media only screen and (min-width: 300px) {
  .AccountPage {
    background: var(--color-light-gray);
    overflow-y: auto;
    box-sizing: content-box;
  }
  .container {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .account_options {
    display: flex;
    gap: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .AccountPage {
    display: flex;
    height: 100%;
    box-sizing: border-box;
  }
  .container {
    padding: 2rem;
    align-self: flex-start;
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
}
