@media only screen and (min-width: 300px) {
  .ResetPasswordView {
    overflow-y: scroll;
    padding: 0 1rem 1rem 1rem;
  }
  .form_group {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .ResetPasswordView {
    width: 300px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 900px) {
  .ResetPasswordView {
    width: 300px;
    margin-left: 300px;
  }
}
