@media only screen and (min-width: 900px) {
  .KanbanBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .received_tickets {
    background: #eceff1;
  }
  .pending_tickets {
    background: #fffde7;
  }
  .completed_tickets {
    background: #e8f5e9;
  }
  .cancelled_tickets {
    background: #ffebee;
  }
}
