@media only screen and (min-width: 900px) {
    .KanbanStack {
      padding: 2rem;
      border-radius: 7px;
    }
    .KanbanStack > p {
      text-align: center;
      font-weight: 700;
    	margin-bottom: 1rem;
    }
		.KanbanStack > div {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
}