@media only screen and (min-width: 300px) {
  .AppointmentsPage {
    overflow-y: auto;
    min-height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .AppointmentsPage {
    margin: 2rem;
    max-height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .AppointmentsPage {
  }
}
