@media only screen and (min-width: 300px) {
  .StudentCreateTicketView {
    overflow-y: auto;
  }
  .ticket_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .instructions {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;
  }
  .instruction {
    color: white;
  }
  .instruction > p:nth-child(1) {
    font-weight: 700;
    color: white;
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }
  .instruction > p:nth-child(2) {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .ticket_options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .StudentCreateTicketView {
    height: 90%;
  }
  .ticket_options {
    flex-direction: row;
  }
}

@media only screen and (min-width: 900px) {
  .StudentCreateTicketView {
    height: min-content;
  }
  .view_container {
    gap: 0 !important;
  }
  .title_form {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  .problem_form {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  .additional_notes_form {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  .content_container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto min-content max-content;
  }
  .ticket_form {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .ticket_options {
    grid-row-start: 2;
    grid-row-start: 3;
  }
  .ticket_instructions {
    grid-row-start: 2;
    grid-row-end: span 3;
  }
}
