@media only screen and (min-width: 300px) {
  .StudentCreateTicketView {
    overflow-y: scroll;
  }
  .container {
    padding: 2rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .ticket_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .StudentCreateTicketView {
    height: 90%;
  }
  .container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
  .page_title_text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .ticket_form {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .ticket_options {
    grid-row-start: 2;
    grid-row-start: 3;
  }
  .ticket_instructions {
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
