@media only screen and (min-width: 300px) {
  .CreateUserView {
    overflow-y: scroll;
    padding: 0 1rem 1rem 1rem;
  }
  .page_title {
    margin-bottom: 1.5rem;
  }
  .form_group {
    margin-bottom: 1.5rem;
    overflow-y: scroll !important;
  }
}
@media only screen and (min-width: 600px) {
  .CreateUserView {
    width: 300px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) {
  .CreateUserView {
    width: 50rem;
  }
  .form {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 3rem;
  }
  .form_group {
    margin-bottom: 0;
  }
  .button {
    margin-top: 1.5rem !important;
  }
}
